{% extends "layout/master.twig" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="bg-white open-sans h-screen">
        <div class="w-full flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col">
                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-lg md:text-xl xl:text-3xl text-gray-700 font-black tracking-wider">Sign Up</p>
                    <form class="flex flex-col pt-3 md:pt-8">
                        <div class="flex flex-col pt-4">
                            <label for="username" class="text-lg">Name</label>
                            <input type="text" id="username" name="username" placeholder="Enter Username" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="email" class="text-lg">Email</label>
                            <input type="email" id="email" name="email" placeholder="Email Address" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <div class="flex flex-col pt-4">
                            <label for="password-confirm" class="text-lg">Confirm Password</label>
                            <input type="password" id="password-confirm" name="password-confirm" placeholder="Confirm Password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline" />
                        </div>
                        <input id="signup-button" type="button" value="Create Account" class="bg-blue-600 text-white font-bold text-lg rounded hover:bg-blue-800 p-2 mt-8">
                    </form>
                    <div class="text-center pt-12 pb-12">
                        <p>Already have an account? <a href="/auth/login" class="underline font-semibold text-blue-600">Log in here.</a></p>
                    </div>
                </div>
            </div>
            <div class="w-1/2">
                <img class="object-cover w-full h-screen hidden md:block" src="/images/background.jpg" alt="Background">
            </div>
        </div>
    </div>
{% endblock %}
