.env

# Logs
logs
*.log

# PHP
vendor
.phpunit*

# Database
database/database.sqlite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
